<a href="https://colab.research.google.com/github/GeremiccaAndrea/Pandas/blob/main/Es_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Esercizi classe

In [ ]:
import pandas as pd

In [ ]:
movies = pd.read_csv('https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv')
movies.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [ ]:
#visualizzare le ultime 8 righe del dataframe
movies.tail(8)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
70,Dear John,Drama,Sony,66,4.598800,29,$114.97,2010
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [ ]:
#visualizzare solo le colonne che contengono il titolo e il genere del film
movies[['Genre']]

      Genre
0   Romance
1    Comedy
2    Comedy
3    Comedy
4    Comedy
..      ...
72  romance
73    Drama
74    Drama
75   Comedy
76   comedy

[77 rows x 1 columns]

In [ ]:
#visualizzare le righe del dataframe dalla 20 alla 30
movies.iloc[20:31]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008
21,The Back-up Plan,Comedy,CBS,47,2.202571,20,$77.09,2010
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
23,Something Borrowed,Romance,Independent,48,1.719514,15,$60.18,2011
24,She's Out of My League,Comedy,Paramount,60,2.440500,57,$48.81,2010
25,Sex and the City Two,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
26,Sex and the City 2,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
28,Remember Me,Drama,Summit,70,3.491250,28,$55.86,2010
29,Rachel Getting Married,Drama,Independent,61,1.384167,85,$16.61,2008
30,Penelope,Comedy,Summit,74,1.382800,52,$20.74,2008

In [ ]:
#visualizzare il titolo e l’anno dei film che si trovano nelle posizioni 23, 29 e 45
movies.iloc[[23,9,45]][['Film', 'Year']]

                  Film  Year
23  Something Borrowed  2011
9      Valentine's Day  2010
45          Mamma Mia!  2008

In [ ]:
#visualizzare i titoli dei film del genere “Animation”
movies[movies.Genre == 'Animation'][['Film']]

                 Film
6              WALL-E
22            Tangled
64  Gnomeo and Juliet
65  Gnomeo and Juliet

In [ ]:
#visualizzare i titoli dei film prodotti dalla “Disney” e dalla “20th Century Fox”
movies[(movies['Lead Studio'] == 'Disney') | (movies['Lead Studio'] == '20th Century Fox')][['Film']]

                                  Film
3                         When in Rome
5                  Water For Elephants
6                               WALL-E
16                        The Proposal
22                             Tangled
41                         Monte Carlo
60  High School Musical 3: Senior Year
64                   Gnomeo and Juliet
65                   Gnomeo and Juliet
69                           Enchanted

In [ ]:
#visualizzare i titoli dei film usciti dal 2005 al 2010
movies[movies['Genre'] [2005:2010]]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76]

[77 rows x 0 columns]

In [ ]:
#diminuire del 10% il valore delle recensioni presenti nel campo Audience score %
movies['Audience score %'] = movies['Audience score %'] - (movies['Audience score %'] /100 * 10)
movies.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,63.0,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,46.8,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,31.5,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,39.6,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,64.8,6.267647,28,$219.37,2008

In [ ]:
#diminuire dei 10 il valore delle recensioni presenti nel campo Audience score %
movies['Audience score %'].subtract(10)

0     53.0
1     36.8
2     21.5
3     29.6
4     54.8
      ...
72    65.6
73    47.6
74    70.1
75    53.9
76    62.9
Name: Audience score %, Length: 77, dtype: float64

# ESERCIZI CASA

In [ ]:
video = pd.read_csv('https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv')
video.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [ ]:
#mostrare le prime 7 righe 
video[0:7]

#oppure 
video.head(7)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008

In [ ]:
#visualizzare le colonne film e genere 
video[['Film', 'Genre']]

#oppure 
video.iloc[: , 0:2] # : ti visualizza tutte le colonne 
                    # 0:2 le prime 2 colonne

                                  Film    Genre
0           Zack and Miri Make a Porno  Romance
1                      Youth in Revolt   Comedy
2   You Will Meet a Tall Dark Stranger   Comedy
3                         When in Rome   Comedy
4                What Happens in Vegas   Comedy
..                                 ...      ...
72                 Across the Universe  romance
73                       A Serious Man    Drama
74                  A Dangerous Method    Drama
75                          27 Dresses   Comedy
76                (500) Days of Summer   comedy

[77 rows x 2 columns]

In [ ]:
#visualizzare le ultime 5 righe 
video.tail()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [ ]:
#visualizzare la somma degli audencie score %
sum(video['Audience score %'])

#oppure 
video['Audience score %'].sum() #metodo pandas

4907

In [ ]:
#visualizzare la media dei rotten tomatoes % 
video['Rotten Tomatoes %'].mean()

46.701298701298704

In [ ]:
#visualizzare i nomi dei film che sono prodotti dalla Universal 
video[video['Lead Studio'] == 'Universal'][['Film']]

                Film
45        Mamma Mia!
46        Mamma Mia!
48      Love Happens
53         Leap Year
54        Knocked Up
57         Jane Eyre
58  It's Complicated
73     A Serious Man

In [ ]:
#visualizzare i film e la casa produttrice che hanno un rotten tomatoes % superiore alla media 
video[video['Rotten Tomatoes %']> video['Rotten Tomatoes %'].mean()][['Film', 'Lead Studio']]

                                   Film            Lead Studio
0            Zack and Miri Make a Porno  The Weinstein Company
1                       Youth in Revolt  The Weinstein Company
5                   Water For Elephants       20th Century Fox
6                                WALL-E                 Disney
7                              Waitress            Independent
12                             Twilight                 Summit
17               The Invention of Lying           Warner Bros.
19                          The Duchess              Paramount
20  The Curious Case of Benjamin Button           Warner Bros.
22                              Tangled                 Disney
24               She's Out of My League              Paramount
27                     Sex and the City           Warner Bros.
29               Rachel Getting Married            Independent
30                             Penelope                 Summit
37   Nick and Norah's Infinite Playlist                   Sony
39                 My Week with Marilyn  The Weinstein Company
40                     Music and Lyrics           Warner Bros.
42       Miss Pettigrew Lives for a Day            Independent
43                    Midnight in Paris                   Sony
44                        Marley and Me                    Fox
45                           Mamma Mia!              Universal
46                           Mamma Mia!              Universal
49                   Love & Other Drugs                    Fox
54                           Knocked Up              Universal
57                            Jane Eyre              Universal
58                     It's Complicated              Universal
59            I Love You Phillip Morris            Independent
60   High School Musical 3: Senior Year                 Disney
63                   Going the Distance           Warner Bros.
64                    Gnomeo and Juliet                 Disney
65                    Gnomeo and Juliet                 Disney
69                            Enchanted                 Disney
71                            Beginners            Independent
72                  Across the Universe            Independent
73                        A Serious Man              Universal
74                   A Dangerous Method            Independent
76                 (500) Days of Summer                    Fox

In [ ]:
#visualizzare il film con l'audience score maggiore
video[video['Audience score %'] == video['Audience score %'].max()][['Film']]

                  Film
6               WALL-E
74  A Dangerous Method

In [ ]:
#visualizzare i film nelle righe 30,35,39
video[(video.index == 30 ) | (video.index == 35) | (video.index == 39)][['Film']]

                    Film
30              Penelope
35     Not Easily Broken
39  My Week with Marilyn

In [ ]:
#visualizzare il minimo della colonna Worldwide Gross
video['Worldwide Gross'].min()

'$0.03 '

In [ ]:
#aumentare del 50% la colonna Audencie score %
# uguale a x = x + 1
video['Audience score %'] = video['Audience score %'] + (video['Audience score %'] /100 * 50)
video.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,105.0,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,78.0,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,52.5,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,66.0,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,108.0,6.267647,28,$219.37,2008

# Ricerca stringhe

In [ ]:
#film in cui compare la parola porno
movies[movies['Film'].str.contains('Porno')]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008

In [ ]:
#visualizzare film che iniziano con la lettere 'T'
movies[movies['Film'].str.startswith('T')]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
10,Tyler Perry's Why Did I get Married,Romance,Independent,47,3.724192,46,$55.86,2007
11,Twilight: Breaking Dawn,Romance,Independent,68,6.383364,26,$702.17,2011
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008
13,The Ugly Truth,Comedy,Independent,68,5.402632,14,$205.30,2009
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
15,The Time Traveler's Wife,Drama,Paramount,65,2.598205,38,$101.33,2009
16,The Proposal,Comedy,Disney,74,7.867500,43,$314.70,2009
17,The Invention of Lying,Comedy,Warner Bros.,47,1.751351,56,$32.40,2009
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,$127.77,2007
19,The Duchess,Drama,Paramount,68,3.207850,60,$43.31,2008
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008
21,The Back-up Plan,Comedy,CBS,47,2.202571,20,$77.09,2010
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010

In [ ]:
#visualizzare film che terminano con la lettere 'ON'
movies[movies['Film'].str.endswith('on')]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008

In [ ]:
#visualizzare i titoli dei film in ordine alfabetico 
movies.sort_values(by=['Film'])

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
...,...,...,...,...,...,...,...,...
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008

In [ ]:
#visualizzare i nomi dei film dalla z alla a 
movies.sort_values(by = ['Film'], ascending = False)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [ ]:
#ordinare il genere e il film 
movies.sort_values(by = ['Genre', 'Film'])

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
55,Killers,Action,Lionsgate,45,1.245333,11,$93.40,2010
64,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
65,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
...,...,...,...,...,...,...,...,...
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
43,Midnight in Paris,Romence,Sony,84,8.744706,93,$148.66,2011
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007